---
const pageTitle = "About Me - Blogging in Astro";

// identity object
const identity = {
  firstName: "Anthony",
  lastName: "Unknown",
  country: "USA",
  occupation: "Software Engineer",
  hobbies: ["cooking", "photography", "reading", "outdoors"],
};

// skills arrayHtm
const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "C#",
  "Python",
  "Java",
  "React",
  "Astro",
  "Web Application Development",
];

// conditional rendering
const happy = true;
const finished = false;
const goal = 2;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      h1 {
        color: blue;
        font-size: 4rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>
    </nav>
    <h1>{pageTitle}</h1>
    <h2>About Me</h2>
    <p>
      I'm working through the Astro introductory tutorial. This is part of Unit
      2
    </p>
    <p>Some facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>
        I live in the {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 3 && (
          <li>
            A few of my hobbies are: {identity.hobbies[0]},{" "}
            {identity.hobbies[1]}, and {identity.hobbies[3]}.
          </li>
        )
      }
    </ul>
    <p>Some of my Skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    <p>Some conditional rendering:</p>
    {happy && <p>I am happy learning Astro!</p>}
    {finished && <p>I have finished the tutorial!</p>}
    {
      goal >= 3 ? (
        <p>My goal is to finish in three days</p>
      ) : (
        <p>My goal is not completed.</p>
      )
    }
  </body>
</html>
